:root {
  --color-text-primary: #000;
  --color-text-secondary: #888;
  --color-text-muted: #CCC;
  --color-text-disabled: var(--color-text-muted);

  --color-border-primary: #D9D9D9;

  --color-background-primary: #FFF;
  --color-background-secondary: #F5F5F5;

  --color-primary: #73AFFF;
  --color-primary-light: #EEF5FF;
  --color-error: #FF4D4F;

  --text-primary: var(--color-text-primary);
  --text-secondary: var(--color-text-secondary);
  --text-muted: var(--color-text-muted);
  --text-disabled: var(--color-text-disabled);

  --background-page: var(--color-background-primary);
  --background-section: var(--color-background-secondary);

  --border-primary: var(--color-border-primary);

  /* Typography */
  --font-size-2xs: 12px;
  --font-size-xs: 14px;
  --font-size-sm: 16px;
  --font-size-md: 24px;
  --font-size-lg: 32px;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --line-height-sm: 1.2;
  --line-height-md: 1.5;
  --line-height-lg: 1.7;

  --font-family: 'Rubik', sans-serif;

  /* Spacing */
  --space-2xs: 4px;
  --space-xs: 8px;
  --space-sm: 12px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
  --space-2xl: 48px;
  --space-3xl: 64px;

  /* Radius */
  --radius-sm: 8px;
  --radius-md: 16px;
  --radius-lg: 24px;
  --radius-full: 999px;

  /* Shadows */
  --shadow-sm: 0 2px 8px rgb(20 20 20 / 5%);
  --shadow-md: 0 4px 16px rgb(20 20 20 / 15%);
  --shadow-lg: 0 8px 24px rgb(20 20 20 / 25%);
}
