.resultsBlock {
  width: 100%;
}

.placeholder {
  min-height: 180px;
  padding: 32px;
  border-radius: 24px;
  background-color: var(--background-section);
}

.header {
  width: 100%;
}

.title {
  margin: 0 !important;
}

.foundCount {
  display: block;
  margin-top: 4px;
}

.viewAllButton {
  padding: 0;
  color: var(--color-primary);
  font-weight: 500;
}
